*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}
button {
  border: none;
  cursor: pointer;
  background: transparent;
}
p {
  margin: 0;
}
.app {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-left: 300px;
}
